<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Car Price Prediction</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico"> <!-- Favicon -->
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/logo.png" alt="login Logo">
        </div>
    </header>

    <div class="login-container">
        <h2>Login to Car Price Prediction</h2>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required
            pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
            title="Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character.">

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>

</body>
</html>